* {
background-color: #ff67cc; 
font-family: Garamond, "Times New Roman", serif;
font-weight: bolder; 
align:center;
}

.box,
.box > p,
.box > p > strong,
.box > p > em
 {
background-color: #ffffff;
color:#000000
 }

 .box {
border: solid 4px;
border-color: #ffa9df;
padding: 10px 20px;
margin: 10px;
}

h1 {
font-size: 40px;    
}

h2 {
font-size: 25px;    
}

body {
color:#ffffff;
font-size: 20px; 
}

ul {
color:#ffffff;    
}

a {
color:#c3499e;
}

a:hover {
  color: #ffffff;
}


