* {
background-color: #c24598; 
font-family: Garamond, "Times New Roman", serif;
font-weight: bolder; 
align:center;
}

.box {
border: solid 2px;
border-color: #ffffff;
padding: 10px;
}

h1 {
font-size: 40px;    
}

body {
color:#ffffff;
font-size: 20px; 
}

ul {
color:#ffffff;    
}

a {
color:#ffc2ed;
}

a:hover {
  color: #ffffff;
}


